body {
  background-image: url("http://imgur.com/a/yOUu2");
  background-size: cover;
}

h1 {
	font-size: 50px;
	font-weight:200;
}

a {
	text-decoration: none;
}

p

aside {text-align: right;
}

ul {
    list-style-type: none;
}

li

img

#slogan {
	font-style: italic;
}
